<%= render 'layouts/header' %>
<h2>about</h2>
<p>スマホ選びに悩んでいる人へ</p>
<p>"papipon"（パピポン）は、最新機種への機種変更を悩んでいる人向けのサイトです。</p>
<p>productをクリックして頂くと、掲載している商品の一覧を確認できます。</p>
<p>selectionをクリックして頂くと、項目に沿って選択して頂くと貴方にあった最新機種が紹介されます</p>


