 <div class="mobile_img" id="mobile1">
   <figure><img src="/images/342453.jpg" width="900" float:right;></figure>
 </div>

 <div class="top_box">
  <h1><%= link_to image_tag("/assets/08072019103056A.png",size: '250'), root_path, method: :get %>
  </h1>
   <ul>
   	<li>about</li>
   	<li>product</li>
   	<li>selection</li>
   </ul>
 </div>

