<%= render 'layouts/header' %>
<div class = "container">
<%= link_to '商品一覧へ',products_path%>
	<h2>Galaxy S10</h2>
	<%= image_tag '127.jpg' ,:size =>"250x250"%>


	<p>↓より画面が大きい方がいい人向け↓</p>
	<h2>Galaxy S10+</h2>
	<%= image_tag '126.jpg' ,:size =>"250x250"%>
</div>