<h3>希望のブランド名</h3>

<%= link_to selections_choice_path do %>
<%= image_tag "Android.jpg", :size =>"400x400" %>
<% end %>

<%= link_to selections_iphone_path do %>
<%= image_tag "Apple.jpg", :size =>"400x400"%>
<% end %>

