<%= render 'layouts/header' %>
<div class = "container">
	<%= link_to '商品一覧へ',products_path%>
	<h2>iphone XS</h2>
	<%= image_tag '/images/120.jpg' ,:size =>"250x250"%>
	<p>画面が大きいのがいい人向け</p>
	<h2>iphone XS Max</h2>
	<%= image_tag '/images/121.jpg', :size =>"250x250"%>
</div>