<%= render 'layouts/header' %>
<%= link_to '商品一覧へ',products_path%>
<h2>iphone XS</h2>
<%= image_tag '120.jpg' ,:size =>"250x250"%>
<p>画面が大きいのがいい人</p>
<h2>iphone XS Max</h2>
<%= image_tag '121.jpg', :size =>"250x250"%>

