<div class = "container">
 <div class = "row">
  <h1>最も重視する項目</h1>
  <div class = "col-xs-5">
	  <h3>豊富なカラーバリエーション</h3>
	  <%= link_to selections_colour_path do %>
	  <%= image_tag "PAK85_iroenpitunaname131310_TP_V.jpg", :size =>"200x200" %>
	  <% end %>
  </div>
  <div class = "col-xs-5">
	  <h3>高性能な機能</h3>
	  <%= link_to selections_iphone_path do %>
	  <%= image_tag "smartphoneIMGL4224_TP_V.jpg", :size =>"200x200" %>
	  <% end %>
  </div>
 </div>
</div>>