<h3>最も重視する項目</h3>

豊富なカラーバリエーション
<%= link_to selections_colour_path do %>
<%= image_tag "Android.jpg", :size =>"400x400" %>
<% end %>

高性能な機能
<%= link_to selections_iphone_path do %>
<%= image_tag "Android.jpg", :size =>"400x400" %>
<% end %>