// Place all the styles related to the selections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pick_box1{
float:left;
}

.pick_box2{
float:left;
margin-left: 20px;

}

.pick_box3{
float:left;
margin-left: 20px;

}

.pick_box4{
float:left;
margin-left: 20px;
}

.pick_box5{
float:left;
margin-left: 20px;
}

