// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mobile_img{
	position: absolute;
	top:-150px;
	left:900px;
}

.top_box{
	width: 200px;
}

ul {
  list-style: none;
}